@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-center">
    <div class="col-6"> 
        <div class="card">
    <div class="card-body">
        <h4 class="card-title">Вітаємо на нашому сайті!</h4>
        <p class="card-text">
            ToUAr - це інноваційна платформа для планування незабутніх подорожей Україною. Ми пропонуємо широкий вибір турів по різних регіонах країни, від мальовничих Карпат до колоритних міст Центральної України. Наш сайт має зручний інтерфейс, що дозволяє легко обирати напрямок, місто та тур за вашими уподобаннями.</p>
        <p class="card-text">
            Унікальною особливістю нашого сервісу є система гідів. Після бронювання туру один з наших досвідчених місцевих провідників матиме можливість обрати саме вас своїм супутником у захопливій мандрівці. Ці пристрасні знавці рідного краю з радістю поділяться своїми знаннями та допоможуть вам насолодитися кожною миттю подорожі. На сайті ви також знайдете систему відгуків від інших мандрівників, особистий кабінет для зручного керування турами та бронюваннями, а також легку в користуванні систему створення власних ексклюзивних маршрутів.</p>
        <p class="card-text">Приєднуйтесь до спільноти ToUAr і відкрийте для себе неповторну красу та культуру України!</p>
    </div>
</div>
    </div>

</div>
